<script src="https://cdnjs.cloudflare.com/ajax/libs/typescript/4.9.4/typescript.min.js" integrity="sha512-E4RxXpUpcaQZX39bUx2SRra9r2zbzAQ+lN0YeI0/JT5RclRoisYlBznfEzXBdiO/UoQtZvhYJyi02wtZgHdwSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Google Tag Manager -->
<script>!function(e,t,a,r,g){e[r]=e[r]||[],e[r].push({"gtm.start":new Date().getTime(),event:"gtm.js"});var n=t.getElementsByTagName(a)[0],s=t.createElement(a);s.async=!0,s.src="https://www.googletagmanager.com/gtm.js?id="+g+("dataLayer"!=r?"&l="+r:""),n.parentNode.insertBefore(s,n)}(window,document,"script","dataLayer","GTM-N74DC4S");</script>
<!-- End Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-69HT4VVSP7"></script>
<script src="../assets/js/web/index.js"></script>
<script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","G-69HT4VVSP7");</script>