<div class="banner-notification" id="banner-notification">
    <p>To enable this feature, you must accept <code>Notification</code> feature in your session.<br />Do you accept it?</p>
    <button name="accept" type="button" value="Accept" title="Accept permission" class="notification-accepter" id="notif-accept"><label for="accept">Accept permission</label></button>
    <button name="decline" type="button" value="Decline" title="Decline permission" class="notification-decliner" id="notif-decline"><label for="decline">Decline permission</label></button>
</div>