---

---
* {
	transition: all 0.2s ease-out;
}

#images {
	.image-container {
		a {
			background: rgba(0,100,155,0.4);
			border-radius: 16px;
			text-decoration: none;
			:hover {
				padding: 8px;
				margin: 8px;
				img {
					clear: all;
				}
			}
		}
		img {
			width: 270px;
			height: 270px;
			object-fit: cover;
			background: rgba(0, 0, 0, 0.2);
			border-radius: 32px;
		}
		p {
			font-weight: bolder;
			color: white;
			text-align: center;
		}
		.image-mod, .image-crt {
			margin: auto;
		}
		display: flex;
		flex-direction: column;
		width: 270px;
		margin: auto;
		background: rgba(0, 0, 0, 0.3);
		padding: 6px;
		border-radius: 16px;
	}
	display: inline-grid;
	gap: 2px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: auto;
}
