---
layout: default
---

<div class="chooser-container">
    <h2>{{ page.name | default: "[No title described]" }} have multiple Selection.</h2>
    <p>Select the one of content each link named: </p>
    <nav class="chooser-navchoose" id="chooser-navchoose">
        <a href="" class="chooser-fp" id="chooser-fp">Full page</a>
        <a href="" class="chooser-sum" id="chooser-sum">Summarized</a>
        <a href="" class="chooser-src" id="chooser-src">Source code</a>
    </nav>
</div>
<script src="/assets/js/chooser.js"></script>