<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <header id="headdy">
            <h1 id="webt"><a href="/" style="color: white; text-decoration: none;">Note Swiper</a></h1>
            <span style="vertical-align: baseline; margin:0; padding:0;">Random thing will place here</span>
            <nav id="menunav">
                <a href="/" id="link-normal">Home</a>
                <a href="/pages/links/" id="link-normal">Links</a>
            </nav>
        </header>
        <hr>
        <article id="artic">
            <div id="linking">
                <span id="classlni"><a href="/pages/links/">click this text to redirect social links</a></span>
            </div>
            {{ content }}
        </article>
        <footer id="foot"></footer>
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.js'></script>
</body>
</html>