---
layout: default
---
{% assign image_count = 0 %}
{% assign total = 0 %}
{% assign rows = 0 %}
{% assign max_images = 3 %}
<!--<div id="images">
	<div class="image-row" id="img-row1">
		<div class="image-container" id="1-image1">
			<img class="image" id="1-image1-img" src="https://noteswiper.github.io/media/minecraft_screenshots/2023-08-16_19.54.08.png" alt="" />
			<p class="image-text" id="1-image1-text">2023-08-16_19.54.08.png</p>
		</div>
		<div class="image-container" id="1-image2">
			<img class="image" id="1-image2-img" src="https://noteswiper.github.io/media/minecraft_screenshots/2023-08-16_22.35.54.png" alt="" />
			<p class="image-text" id="1-image2-text">2023-08-16_22.35.54.png</p>
		</div>
		<div class="image-container" id="1-image3">
			<img class="image" id="1-image3-img" src="https://noteswiper.github.io/media/minecraft_screenshots/2023-08-19_22.22.06.png" alt="" />
			<p class="image-text" id="1-image3-text">2023-08-16_22.35.54.png</p>
		</div>
	</div>
</div>-->
<div id="images">
    {% if image_count > max_images %}
    <div class="image-row">
    {% endif %}
        {% for image in site.minecraft_screenshots.files %}
        <div class="image-container">
            <img class="image" src="{{ image.url }}" />
            <p class="image-text">{{ image.url }}</p>
        </div>
        {% endfor %}
    {% if image_count > max_images %}
    </div>
    {% endif %}
</div>