---
layout: default
---
{% if site.data.socials.updated %}
<p>Page Updation: {{ site.date.socials.updated }}</p>
{% else %}
<p>Page Updation: No Date Defined :(</p>
{% endif %}
{% for social in site.data.socials.links %}
<div class="socialitem">
    {% case social.type %}
        {% when 0 %}
    <h2>Social Information of &quot;{{ social.title }}&quot;</h2>
        {% when 1 %}
    <h2>Social Information of &quot;{{ social.title }}&quot; Except GitHub Account</h2>
        {% when 2 %}
    <h2>Social Information of &quot;{{ social.title }}&quot; With Forgottens</h2>
        {% when 3 %}
    <h2>Social Information of &quot;{{ social.title }}&quot; With <b>NSFW</b></h2>
    {% endcase %}
    {% if social.account_date %}
    <p>Account Date: {{ social.account_date }}</p>
    {% else %}
    <p>Account Date: No account date in this account :( (unknown or forget to add)</p>
    {% endif %}
    {% if social.addition_date %}
    <p>Addition Date: {{ social.addition_date }}</p>
    {% else %}
    <p>Addition Date: No Date in this Social Account Defined :(</p>
    {% endif %}
    {% if social.updated_date %}
    <p>Updated Date: {{ social.updated_date }}</p>
    {% else %}
    <p>Updated Date: No Date in this Social Account defined :(</p>
    {% endif %}
    {% if social.meta %}
    <p>NOTE: {{ social.meta.note }}</p><br>
    {% else %}
    <p>NOTE: No note in this account.</p>
    {% endif %}
    {% if social.youtube %}
        {%- for item in social.youtube -%}
    <span>YouTube: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {%- endfor -%}
    {% else %}
    <span>YouTube: No YouTube in this account :(</span>
    {% endif %}
    {% if social.website %}
        {%- for item in social.website -%}
    <span>Website: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {%- endfor -%}
    {% else %}
    <span>Website: No website in this account :(</span>
    {% endif %}
    {% if social.twitter %}
        {%- for item in social.twitter -%}
    <span>X (formerly Twitter): <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {%- endfor -%}
    {% else %}
    <span>X (formerly Twitter): No X (formerly Twitter) in this account :(</span>
    {% endif %}
    {% if social.github %}
        {%- for item in social.github -%}
    <span>GitHub: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {% endfor %}
    {% else %}
    <span>GitHub: No GitHub in this account :(</span>
    {% endif %}
    {% if social.roblox %}
        {%- for item in social.roblox -%}
    <span>Roblox: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {% endfor %}
    {% else %}
    <span>Roblox: No Roblox in this account :(</span>
    {% endif %}
    {% if social.twitch %}
        {%- for item in social.twitch -%}
    <span>Twitch: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {% endfor %}
    {% else %}
    <span>Twitch: No Twitch in this account :(</span>
    {% endif %}
    {% if social.blog %}
        {%- for item in social.blog -%}
    <span>Blog: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {% endfor %}
    {% else %}
    <span>Blog: No blog website in this account :(</span>
    {% endif %}
    {% if social.tumblr %}
        {%- for item in social.tumblr -%}
    <span>Tumblr: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {%- endfor -%}
    {% else %}
    <span>Tumblr: No Tumblr in this account :(</span>
    {% endif %}
    {% if social.gitlab %}
        {% for item in social.gitlab %}
    <span>GitLab: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>GitLab: No GitLab in this account :(</span>
    {% endif %}
    {% if social.bitbucket %}
        {% for item in social.bitbucket %}
    <span>BitBucket: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>BitBucket: No BitBucket in this account :(</span>
    {% endif %}
    {% if social.brickhill %}
        {% for item in social.brickhill %}
    <span>Brick Hill: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Brick Hill: No Brick Hill in this account :(</span>
    {% endif %}
    {% if social.brickplanet %}
        {% for item in social.brickplanet %}
    <span>Brick Planet: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Brick Planet: No Brick Planet in this account :(</span>
    {% endif %}
    {% if social.discord %}
        {% for item in social.discord %}
    <span>Discord: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Discord: No Discord in this account :(</span>
    {% endif %}
    {% if social.scratch %}
        {% for item in social.scratch %}
    <span>Scratch: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Scratch: No Scratch in this account :(</span>
    {% endif %}
    {% if social.reddit %}
        {% for item in social.reddit %}
    <span>Reddit: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Reddit: No Reddit in this account :(</span>
    {% endif %}
    {% if social.soundcloud %}
        {% for item in social.soundcloud %}
    <span>SoundCloud: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>SoundCloud: No SoundCloud in this account :(</span>
    {% endif %}
    {% if social.steam %}
        {% for item in social.steam %}
    <span>Steam: <a href="{{ item.url }}">{{ item.title }}</a></span>
        {% endfor %}
    {% else %}
    <span>Steam: No Steam in this account :(</span>
    {% endif %}
    {% if social.orgs %}
        {% if social.orgs.created %}
            {% for item in social.orgs.created %}
    <span>org Title: <a href="{{ item.github }}">{{ item.title }}</a></span><br>
                {% if creation.website %}
    <span>Link: <a href="{{ item.website }}">{{ item.website }}</a></span><br>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if social.orgs.joining %}
        {% for item in social.orgs.joining %}
    <span>Join Org Title: <a href="{{ item.github }}">{{ item.title }}</a></span><br>
            {% if creation.website %}
    <span>Url: <a href="{{ item.website }}">{{ item.website }}</a></span><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if social.deviantart %}
        {% for item in social.deviantart %}
    <span>DeviantArt: <a href="{{ item.url }}">{{ item.title }}</a></span><br>
        {% endfor %}
    {% else %}
    <span>DeviantArt: No DeviantArt in this account :( (Only NSFW Account)</span>
    {% endif %}
    {% if social.tiktok %}
        {% for item in social.tiktok %}
    <span>TikTok: <a href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
    {% else %}
    <span>TikTok: No tiktok in this account :(</span>
    {% endif %}
</div>
{% endfor %}