---
layout: default
---

{% for social in site.data.socials %}
<div class="">
    <h2>Socials: Information of {{ social.title }}</h2>
    {% if social.youtube %}
    <a href="{{ site.youtube_handle social.youtube }}" class="">{{ socials.title }}</a>
    {% endif %}
    {% if social.website %}
    <a href="{{ social.website }}">{{ social.website }}</a>
    {% endif %}
    {% if social.twitter %}
    <a href="{{ site.twitteruser social.twitter }}">{{ social.twitter }}</a>
    {% endif %}
    {% if social.github %}
    <a href="{{ site.githubuser social.github }}">{{ social.github }}</a>
    {% endif %}
    {% if social.roblox %}
    <a href="{{ site.shortBlox.user.usrName social.roblox.main }}">{{ social.roblox.main }}</a>
    {% if social.roblox.sub %}
    <a href="{{ site.shortBlox.user.usrName social.roblox.sub }}">{{ social.roblox.sub }}</a>
    {% endif %}
    {% endif %}
    {% if social.twitch %}
    <a href="{{ site.twitchuser social.twitch }}">{{ social.twitch }}</a>
    {% endif %}
    {% if social.blog %}
    {% for blogurl in social.blog %}
    <a href="{{ blogurl.url }}">{{ blogurl.title }}</a>
    {% endfor %}
    {% endif %}
    {% if social.orgs %}
    {% if social.orgs.created %}
    {% for creation in social.orgs.created %}
    <a href="{{ site.githubuser creation.github }}">{{ creation.title }}</a>
    {% if creation.website %}
    <a href="{{ creation.website }}">{{ creation.website }}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if social.orgs.joining %}
    {% for joining in social.orgs.joining %}
    <a href="{{ site.githubuser joining.github }}">{{ joining.title }}</a>
    {% if creation.website %}
    <a href="{{ joining.website }}">{{ joining.website }}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if social.deviantart %}
    <a href="{{ site.deviantartuser social.deviantart }}">{{ social.deviantart }}</a>
    {% endif %}
</div>
{% endfor %}